@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pry-clr: rgb(0, 170, 255);
    --bg-clr: rgb(21, 24, 26);
    --sec-clr: #fff;
    --tet-clr: rgb(78, 78, 78);
    --bg-drop: #FAFAFB;
    --main-clr: #000;
    --ff: 'Satoshi', sans-serif;
    --bx-shadow: rgb(0, 0, 0, 0.1);
    --close-btn: rgb(255, 0, 0);
    --delete-btn: rgb(244, 67, 54);
    --complete-clr: rgb(40, 167, 69);
    --in-progress-clr: rgb(255, 193, 8);
    --on-hold-clr: rgb(220, 53, 69);
}

body {
    font-family: var(--ff);
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    max-width: 3em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--bg-clr);
    color: var(--sec-clr);
    overflow: hidden;
    transition: max-width 0.3s ease;
}

.nav-container:hover {
    max-width: 12em;
}

.nav-container .logo {
    width: 2.5em;
    aspect-ratio: 1/1;
    border: none;
    margin: 1em 0;
    display: grid;
    place-items: center;
    background-color: var(--sec-clr);
    border-radius: 50%;
    transition: width 0.3s ease;
}

.nav-container:hover .logo {
    width: 4em;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-container ul {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.nav-container ul li {
    width: 100%;
    color: var(--sec-clr);
    text-align: center;
    padding: 0.5em 0;
    border-radius: 0.5em;
    transition: background-color 600ms;
    display: flex;
    justify-content: center;
}

.nav-container ul li:hover {
    background-color: var(--pry-clr);
}

.nav-container ul li a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0.5em;
    white-space: nowrap;
}

.nav-container ul li a span {
    display: none;
}

.nav-container:hover ul li a span {
    display: inline;
}

.nav-cont {
    display: none;
}

/* Main container */
main {
    width: 100%;
    height: fit-content;
    background-color: var(--bg-drop);
    display: grid;
    place-items: center;
}

main section {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

section article {
    height: fit-content;
}

section article:nth-child(1) {
    width: 70%;
    display: grid;
    place-items: center;
    gap: 1em;
}

section article:nth-child(2) {
    width: 30%;
    background: var(--bg-drop);
    display: grid;
    place-items: center;
    gap: 1em;
    padding-top: 1em;
}

article .title-article {
    width: 100%;
    max-width: 60em;
    height: fit-content;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-article .username {
    width: 100%;
    max-width: 15em; 
    border: 1px dashed var(--sec-clr);
    border-radius: 1em;
    box-shadow: 2px 2px 3px var(--bx-shadow);
    height: 2.5em;
    background-color: var(--sec-clr);
    display: flex;
    justify-content: start;
    padding-left: 1em;
    align-items: center;
    font-size: 1.1rem;
}

.title-article .search-box {
    width: 100%;
    max-width: 30em;
    height: fit-content;
    border: 1px solid var(--bx-shadow);
    box-shadow: 2px 2px 3px var(--bx-shadow);
    border-radius: 1em;
    height: 2em;
    background-color: var(--sec-clr);
}

.search-box #search-bar {
    width: 100%;
    max-width: 95%;
    height: 2em;
    border: none;
    border-radius: inherit;
    padding-left: 1em;
    font-family: var(--ff);
    color: var(--main-clr);
}

#search-bar:focus {
    border: none;
    outline: 0;
}

.search-box button {
    background-color: var(--sec-clr);
    color: var(--tet-clr);
    border: none;
    cursor: pointer;
}

article .dashboard {
    width: 100%;
    max-width: 60em;
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    box-shadow: 2px 2px 4px var(--bx-shadow);
    height: fit-content;
    background-color: var(--sec-clr);
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1em;
    font-family: var(--ff);
    flex-direction: column;
}


/* Article two */
article:nth-child(2) :is(.stats) {
    width: 100%;
    max-width: 80%;
    height: 15em;
    border: 1px solid var(--sec-clr);
    background-color: var(--sec-clr);
    box-shadow: 2px 2px 4px var(--bx-shadow);
    border-radius: 1em;
}

article:nth-child(2) :is(.tot-proj, .tot-task, .overdue-task, .completed-proj, .ong-proj, .on-hold-proj) {
    width: 100%;
    max-width: 70%;
    border: 1px solid var(--sec-clr);
    height: 3em;
    background-color: var(--sec-clr);
    border-radius: 1em;
    box-shadow: 2px 2px 4px var(--bx-shadow);
}

/* For task */
#Task-box,
#activity-tab,
#project-tab {
    width: 100%;
    max-width: 70%;
    border: 1px dashed var(--bg-drop);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    height: fit-content;
    position: absolute;
    top: 10%;
    left: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 101;
    display: grid;
    place-items: center;
}

#Task-box .close-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

#Task-box .close-box button {
    width: 2em;
    height: 1.5em;
    background: var(--close-btn);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--sec-clr);
    transition: color 0.3s ease;
}

#Task-box .close-box button:hover {
    color: var(--sec-clr);
}

.task-space {
    width: 100%;
    height: fit-content;
}

.task-space .create-space {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em auto;
    gap: 1em;
    padding: 0.5em;
}

.create-space button {
    width: 3em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    color: var(--sec-clr);
    font-size: 1.1rem;
    cursor: pointer;
}

.create-space #task-btn {
    background-color: var(--pry-clr);
}

.create-space #close-tsk-ctn {
    background-color: var(--close-btn);
}

#task-creation {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    margin-bottom: 20px;
    overflow-y: visible;
}

#task-name,
#about-task {
    width: 100%;
    height: 3em;
    border: 1px solid var(--sec-clr);
    box-shadow: 2px 2px 4px var(--bx-shadow);
    padding-left: 1em;
    font-size: 1rem;
    border-radius: 1.5em;
    caret-color: var(--tet-clr);
    background-color: white;
    color: var(--tet-clr);
    font-family: var(--ff);
}

#about-task {
    resize: vertical;
    padding: 1em 0 0 1em;
    height: auto;
}

:where(#task-name, #about-task):focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 5px var(--sec-clr);
}

#task-creation label {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--tet-clr);
}

#task-creation :is(.start-dd-box, .end-dd-box) {
    width: 100%;
    border: 1px solid var(--sec-clr);
    height: 3em;
    background-color: var(--sec-clr);
    border-radius: 1em;
    box-shadow: 2px 2px 4px var(--bx-shadow);
    display: grid;
    place-items: center;
}

.date-box :is(#start-dd, #end-dd) {
    width: 100%;
    font-size: 1rem;
    height: 2.5em;
    border-radius: 1em;
    border: 1px solid var(--sec-clr);
    padding: 0.5em;
    background-color: white;
    color: var(--tet-clr);
}

.date-box :is(#start-dd, #end-dd):focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 5px var(--sec-clr);
}

#task-creation .sub-task-box {
    width: 100%;
    height: fit-content;
    display: grid;
    place-content: left;
    gap: 1em;
    padding-top: 0.1em;
}

.sub-task-box :is(.sub-task-heading, #sub-task-body) {
    width: 100%;
    height: fit-content;
}

.sub-task-box {
    max-height: 200px; /* Set a max height for the sub-task section */
    overflow-y: auto; /* Make the sub-task section scrollable if it overflows */
}

/* Scrollbar styling */
.sub-task-box::-webkit-scrollbar-track {
    background-color: var(--sec-clr);
    border-radius: 10px;
}

.sub-task-box::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.sub-task-box::-webkit-scrollbar-thumb {
    background-color: var(--bx-shadow);
    border-radius: 10px;
}

.sub-task-heading label {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: var(--tet-clr);
}

.sub-task-heading button {
    width: 2em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: var(--pry-clr);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-task-input-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.sub-task-input {
    width: 100%;
    height: 2.5em;
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    padding: 0.5em;
    font-family: var(--ff);
    font-size: 1rem;
    box-shadow: 2px 2px 4px var(--bx-shadow);
    background-color: white;
    color: var(--tet-clr);
    margin-bottom: 1em;
}

.delete-sub-task {
    width: 1.5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: var(--delete-btn);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#task-creation #submit-btn {
    width: 100%;
    max-width: 10em;
    height: 2.5em;
    border-radius: 1em;
    font-size: 1.2rem;
    color: white;
    background-color: var(--pry-clr);
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px var(--bx-shadow);
}

.task-card {
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #E8F5E9;
}

.task-card h3,
.task-card p,
.task-card span {
    margin: 0.5em 0;
}

/* New styles for the ul and li elements */
.task-card ul {
    margin-top: 10px;
    padding-left: 20px;
}

.task-card ul li {
    margin-bottom: 5px;
    list-style-type: disc;
    font-size: 0.9rem;
    color: var(--tet-clr);
}

/* status */
.project-status {
    margin: 20px 0;
}

.project-status label {
    font-size: 1rem;
    margin-right: 10px;
}

#status-select {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--sec-clr);
    outline: none;
    box-shadow: 2px 2px 4px var(--bx-shadow);
}

#status-select option {
    border: 0;
    color: var(--main-clr);
    transition: background-color 600ms, color 600ms;
}

#status-select option:hover {
    background-color: var(--pry-clr);
    color: var(--sec-clr);
    cursor: pointer;
}

.tag {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: var(--sec-clr);
    display: inline-block;
    margin: 5px;
}

.completed {
    background-color: var(--complete-clr);
}

.in-progress {
    background-color: var(--in-progress-clr);
}

.on-hold {
    background-color: var(--on-hold-clr);
}

/* activity tab */
#activity-tab .close-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

#activity-tab .close-box button {
    width: 2em;
    height: 1.5em;
    background: var(--close-btn);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--sec-clr);
    transition: color 0.3s ease;
}

#activity-tab .close-box button:hover {
    color: var(--sec-clr);
}

#activity-box {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    margin-bottom: 20px;
    overflow-y: visible;
}

#activity-box h3 {
    font-family: var(--ff);
    font-size: 1.5rem;
}

#project-tab .close-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

#project-tab .close-box button {
    width: 2em;
    height: 1.5em;
    background: var(--close-btn);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--sec-clr);
    transition: color 0.3s ease;
}

#project-tab .close-box button:hover {
    color: var(--sec-clr);
}

.project-space {
    width: 100%;
    height: fit-content;
}

.project-space .create-space {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em auto;
    gap: 1em;
    padding: 0.5em;
}

.create-space button {
    width: 3em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    color: var(--sec-clr);
    font-size: 1.1rem;
    cursor: pointer;
}

.create-space #project-btn {
    background-color: var(--pry-clr);
}

.create-space #close-prj-ctn {
    background-color: var(--close-btn);
}

#project-creation {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    margin-bottom: 20px;
    overflow-y: visible;
}

#project-name,
#about-project {
    width: 100%;
    height: 3em;
    border: 1px solid var(--sec-clr);
    box-shadow: 2px 2px 4px var(--bx-shadow);
    padding-left: 1em;
    font-size: 1rem;
    border-radius: 1.5em;
    caret-color: var(--tet-clr);
    background-color: white;
    color: var(--tet-clr);
    font-family: var(--ff);
}

#about-project {
    resize: vertical;
    padding: 1em 0 0 1em;
    height: auto;
}

:where(#project-name, #about-project):focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 5px var(--sec-clr);
}

#project-creation label {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--tet-clr);
}

#project-creation :is(.start-dd-box, .end-dd-box) {
    width: 100%;
    border: 1px solid var(--sec-clr);
    height: 3em;
    background-color: var(--sec-clr);
    border-radius: 1em;
    box-shadow: 2px 2px 4px var(--bx-shadow);
    display: grid;
    place-items: center;
}

.date-box :is(#start-dd, #end-dd) {
    width: 100%;
    font-size: 1rem;
    height: 2.5em;
    border-radius: 1em;
    border: 1px solid var(--sec-clr);
    padding: 0.5em;
    background-color: white;
    color: var(--tet-clr);
}

.date-box :is(#start-dd, #end-dd):focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 5px var(--sec-clr);
}

/* mobile responsiveness */
@media screen and (max-width: 768px) {
    .nav-container {
        display: none;
    }

    .nav-cont {
        width: 100%;
        background-color: var(--bg-clr);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3em;
        z-index: 100;
    }

    .nav-cont ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }

    .nav-cont ul li {
        flex: 1;
        color: var(--sec-clr);
        text-align: center;
        padding: 0.5em 0;
        border-radius: 5px;
        display: grid;
        place-items: center;
    }

    .nav-cont ul li a {
        text-decoration: none;
        color: inherit;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0.2em;
        gap: 0.1em;
        transition: color 600ms;
    }

    .nav-cont ul li a:hover {
        color: var(--pry-clr);
    }
}

@media screen and (max-width: 480px) {
    .nav-container {
        display: none;
    }

    .nav-cont {
        width: 100%;
        background-color: var(--bg-clr);
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3em;
        bottom: 0;
        z-index: 100;
    }
}
