@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pry-clr: rgb(0, 170, 255);
    --bg-clr: rgb(21, 24, 26);
    --sec-clr: #fff;
    --tet-clr: rgb(78, 78, 78);
    --bg-drop: #FAFAFB;
    --main-clr: #000;
    --rdm-clr: #333;
    --tsk-ctn-bg: #e7f3ff;
    --ff: 'Satoshi', sans-serif;
    --bx-shadow: rgb(0, 0, 0, 0.1);
    --close-btn: rgb(255, 0, 0);
    --delete-btn: rgb(244, 67, 54);
    --complete-clr: rgb(40, 167, 69);
    --in-progress-clr: rgb(255, 193, 8);
    --on-hold-clr: rgb(220, 53, 69);
}

body {
    font-family: var(--ff);
}

.add-btn-box {
    width: 5em;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 0%;
    right: 0%;
    display: grid;
    place-items: center;
}

.add-btn-box button {
    width: 2.5em;
    aspect-ratio: 1/1;
    color: var(--sec-clr);
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--bx-shadow);
}

.add-btn {
    background-color: var(--pry-clr);
}

.add-btn-box .rem-btn {
    background-color: var(--delete-btn);
    transition: transform 0.5s ease; /* Add smooth rotation */
}

.btn-tab {
    display: grid;
    place-items: center;
    width: 10em;
    height: 10em;
    position: fixed;
    bottom: 15%;
    right: 1%;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease; /* Smooth sliding transition */
}

.btn-tab.visible {
    opacity: 1;
    transform: translateY(0); /* Slide up */
}

.btn-tab.hidden {
    opacity: 0;
    transform: translateY(100%); /* Slide down */
}

.btn-tab button {
    width: 9em;
    height: 2.5em;
    text-transform: capitalize;
    background-color: var(--pry-clr);
    color: var(--sec-clr);
    border: transparent;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--bx-shadow);
}

/* Keyframes for rotation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-container {
    width: 15em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sec-clr);
    padding: 2em 0.5em;
    box-shadow: 2px 2px 5px var(--bx-shadow);
}

/* Logo styling */
.nav-container .logo {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 2em;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--sec-clr);
    box-shadow: 2px 2px 5px var(--bx-shadow);
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation list styling */
.nav-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

/* Individual list items */
.nav-container ul li {
    width: 100%;
}

/* Align icons and text horizontally with grid */
.nav-container ul li a {
    color: var(--tet-clr);
    text-decoration: none;
    display: grid;
    grid-template-columns: 1.5em auto;
    /* Ensure icon and text have fixed positions */
    align-items: center;
    /* Vertically align icons and text */
    gap: 0.5em;
    font-size: 1rem;
    padding: 0.75em 1em;
    transition: all 500ms;
    border-radius: 0.5em;
}

/* Hover effects */
.nav-container ul li a:hover {
    background-color: var(--pry-clr);
    color: var(--sec-clr);
}

/* Icons */
.nav-container ul li a i {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

/* Styling the sub-menu */
.setting-menu {
    position: relative;
    /* Ensure that the dropdown is positioned relative to the parent */
}

.setting-menu .sub-menu {
    display: none;
    position: absolute;
    top: 5%;
    left: 90%;
    background-color: var(--sec-clr);
    border: 1px solid var(--sec-clr);
    box-shadow: 2px 2px 5px var(--bx-shadow);
    list-style: none;
    width: 100%;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
    -moz-transition: opacity 0.5s ease, visibility 0.5s ease;
    -ms-transition: opacity 0.5s ease, visibility 0.5s ease;
    -o-transition: opacity 0.5s ease, visibility 0.5s ease;
}

.setting-menu:hover .sub-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.sub-menu li {
    width: 100%;
    text-align: center;
    padding: 0.1em auto;
    transition: background-color 0.5s ease, color 0.3s ease;
    -webkit-transition: background-color 0.5s ease, color 0.3s ease;
    -moz-transition: background-color 0.5s ease, color 0.3s ease;
    -ms-transition: background-color 0.5s ease, color 0.3s ease;
    -o-transition: background-color 0.5s ease, color 0.3s ease;
    color: var(--rdm-clr);
}

.sub-menu li a {
    color: var(--rdm-clr);
    text-decoration: none;
    display: block;
    /* Ensure the entire area is clickable */
}

.sub-menu li:hover {
    background-color: var(--pry-clr);
    color: var(--sec-clr);
}

/* Mobile navigation */
.nav-cont {
    display: none;
}

main {
    width: 100%; /* Ensure it doesn't exceed viewport width */
    height: fit-content;
    background-color: var(--bg-drop);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}

main .main-article {
    width: 100%;
    max-width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.main-article .dashboard {
    width: 100%;
    height: 30em;
    background-color: var(--sec-clr);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    box-shadow: 2px 2px 5px var(--bx-shadow);
}

.main-article .title-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sec-clr);
    width: 100%;
    height: fit-content;
    padding: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    box-shadow: 2px 2px 5px var(--bx-shadow);
}

.title-article .username {
    padding: 0.5em 1em;
}

.search-box {
    width: 100%;
    max-width: 20em;
    display: flex;
    padding-right: 0.1em;
    align-items: center;
    background-color: var(--sec-clr);
    border: 1px solid var(--bx-shadow);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.search-box input[type=search] {
    border: none;
    padding: 0.5em;
    border-radius: inherit;
    border: none;
    width: 100%;
    max-width: 30em;
}

.search-box input[type=search]:focus {
    outline: none;
}

.search-box button {
    background-color: var(--sec-clr);
    border: none;
    cursor: pointer;
    width: 1.5em;
    aspect-ratio: 1/1;
    outline: 0;
}

main .side-article {
    width: 100%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: transparent;
    padding-right: 1em;
}

.side-article .stats {
    width: 100%;
    max-width: 50em;
    border: 1px dashed var(--sec-clr);
    height: 13.5em;
    box-shadow: 2px 2px 10px var(--bx-shadow);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.side-article 
:is(.tot-proj, 
.tot-task, 
.overdue-task, 
.completed-proj, 
.ong-proj,
.on-hold-proj) {
    width: 100%;
    max-width: 50em;
    border: 1px dashed var(--sec-clr);
    height: 2.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    box-shadow: 2px 2px 10px var(--bx-shadow);
}

/* the tsk, prj, and note container */
:is(.tsk-cont, .prj-cont, .note-cont) {
    width: 100%;
    max-width: 40em;
    border: 1px solid var(--sec-clr);
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    /* Center horizontally */
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px var(--bx-shadow);
    background-color: var(--sec-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    /* Add padding for better spacing inside */
    box-sizing: border-box;
    /* Ensure padding doesn’t affect width */
}

:is(.tsk-cont, .prj-cont, .note-cont) .close-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    /* Align close button to the right */
    align-items: center;
    border-bottom: 1px dashed black;
    /* Instead of full border */
    gap: 1em;
}

.close-box .close-btn {
    width: 3em;
    height: 1.5em;
    background-color: var(--delete-btn);
    color: var(--sec-clr);
    font-size: 1.2rem;
    border: 1px solid var(--delete-btn);
    border-radius: 0.1em;
    cursor: pointer;
}

/* Workflow section before moving to the next step */
:is(.tsk-cont, .prj-cont, .note-cont) 
.work-flow {
    width: 100%;
    max-height: 15em;
    padding: 1em;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}

:is(.tsk-cont, .prj-cont, .note-cont)
.work-flow::-webkit-scrollbar {
    width: 12px;
}

:is(.tsk-cont, .prj-cont, .note-cont)
.work-flow::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

:is(.tsk-cont, .prj-cont, .note-cont)
.work-flow::-webkit-scrollbar-thumb {
    background-color: var(--bg-drop);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

:is(.tsk-cont, .prj-cont, .note-cont)
.work-flow::-webkit-scrollbar-thumb:hover {
    background-color: var(--bx-shadow);
}

/* Input field for task name */
.name-box input {
    width: 100%;
    height: 3em;
    padding: 0.5em;
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px var(--bx-shadow);
    font-family: var(--ff);
}

/* Input focus */
.name-box input:focus,
.about-box textarea:focus {
    outline: none;
}

input::placeholder {
    text-transform: capitalize;
}

/* Textarea for task description */
.about-box textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    resize: none;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px var(--bx-shadow);
    font-family: var(--ff);
    line-height: 1.5;
    field-sizing: content;
    min-height: 3lh;
}

textarea::placeholder {
    text-transform: capitalize;
}

/* Next button styling */
.next-btn {
    width: 100%;
    max-width: 20%;
    padding: 0.7em;
    background-color: var(--pry-clr);
    color: var(--sec-clr);
    font-size: 1.1rem;
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.next-btn:hover {
    box-shadow: 0px 0px 5px var(--bx-shadow);
}

/* for dates */
.work-flow .date-box {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

/* Date input fields */
.date-box :where(#end-date, #start-date) {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    border: 1px solid var(--sec-clr);
    border-radius: 1.1em;
    box-shadow: 2px 2px 10px var(--bx-shadow);
    -webkit-border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -ms-border-radius: 1.1em;
    -o-border-radius: 1.1em;
    font-family: var(--ff);
    text-transform: uppercase;
}

.date-box :is(#end-date, #start-date):focus {
    outline: none;
}

/* status container */
#status-btn {
    width: 7em;
    height: 5em;
    padding: 0.5em;
    border: 1px solid var(--pry-clr);
    background-color: var(--pry-clr);
    border-radius: 1.5em;
    color: var(--sec-clr);
    font-family: var(--ff);
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    cursor: pointer;
}

.status-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--sec-clr);
    border: 1px solid var(--sec-clr);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: height 0.5s ease;
}

.status-box ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: column;
}

.status-box ul li {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--sec-clr);
    color: var(--rdm-clr);
    transition: all 500ms;
}

.status-box ul li:hover {
    background-color: var(--pry-clr);
    color: var(--sec-clr);
    cursor: pointer;
}

/* Submit button styling */
.next-btn {
    padding: 0.7em;
    background-color: var(--pry-clr);
    color: var(--sec-clr);
    font-size: 1.1rem;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.next-btn:hover {
    box-shadow: 0px 0px 5px var(--bx-shadow);
}

/* Task Result Container */
.tsk-result {
    width: 100%;
    max-width: 40em;
    max-height: 80vh;
    /* Allow for height limitation */
    border: 1px solid var(--sec-clr);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px var(--bx-shadow);
    background-color: var(--sec-clr);
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    z-index: 1000;
    overflow-y: auto;
    /* Contain overflow */
}

/* Close Button Styling */
.tsk-result .close-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2em 0.2em 0 0;
    border-bottom: 1px dashed black;
    gap: 1em;
}

/* Task Result Content Styling */
.tsk-result .task-result-content {
    width: 100%;
    max-height: 25em;
    /* Make sure this is set */
    overflow-y: auto;
    /* Enable scrolling when content exceeds the height */
    padding: 1em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px dashed red;
    gap: 0.5em;
}

/* scroll bar for the task result content */
.task-result-content::-webkit-scrollbar {
    width: 12px;
}

.task-result-content::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.task-result-content::-webkit-scrollbar-thumb {
    background-color: var(--bg-drop);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.task-result-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--bx-shadow);
}

/* Individual Task Item Styling */
.task-item {
    width: 100%;
    background-color: var(--tsk-ctn-bg);
    border: 1px solid var(--tsk-ctn-bg);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item .task-header {
    width: 100%;
    border: 1px dashed black;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item .task-header h3 {
    font-size: 1.5em;
    /* margin-bottom: 0.1em; */
    color: var(--main-clr);
}

.task-header .more-btn {
    width: 3em;
    height: auto;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--main-clr);
    border: none;
}


.task-item .task-pg {
    border: none;
    border-radius: 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1em;
    color: var(--rdm-clr);
    display: -webkit-box;
    /* Required for text truncation */
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-pg p {
    margin: 0.5em 0;
    font-size: 1em;
    color: var(--rdm-clr);
}

.task-item strong {
    color: var(--main-clr);
}

.task-item .status-result span {
    padding: 0.2em 0.5em;
    border-radius: 1em;
    font-size: 0.8em;
    color: var(--sec-clr);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}


/* More Options Styling */
.task-item {
    position: relative;
    /* Ensure the more-options is positioned relative to each task item */
}

.more-btn {
    position: relative;
    /* Button remains in relative position */
}

.more-options {
    display: none;
    background-color: var(--sec-clr);
    border-radius: 5px;
    width: 5em;
    position: absolute;
    z-index: 1000;
    top: 35%;
    right: 8%;
    max-height: 150px;
    overflow-y: auto;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.more-options.show {
    display: block;
}

.more-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.more-options ul li {
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
    transition: all 500ms;
    border-radius: 0.3em;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
}

.more-options ul li:hover {
    background-color: var(--pry-clr);
    color: var(--sec-clr);
}

/* for the project */
.prj-cont {
    display: flex;
    justify-content: center;
}

/* For Project Creation */

/* Next button styling */
.next-btn {
    width: 100%;
    max-width: 20%;
    padding: 0.7em;
    background-color: var(--pry-clr);
    color: var(--sec-clr);
    font-size: 1.1rem;
    border: 1px solid var(--sec-clr);
    border-radius: 1em;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.next-btn:hover {
    box-shadow: 0px 0px 5px var(--bx-shadow);
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .nav-container {
        display: none;
    }

    .nav-cont {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--bg-clr);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 3em;
    }

    .nav-cont ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .nav-cont ul li {
        flex: 1;
    }

    .nav-cont ul li a {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }
}

@media screen and (max-width: 480px) {
    .main-article, .side-article {
        width: 100%;
        padding: 0.5em;
    }

    .title-article .username {
        font-size: 0.9rem;
    }

    .search-box input {
        font-size: 0.8rem;
    }

    .nav-cont ul li a span {
        font-size: 0.7rem;
    }
}
